<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="{{  path('admin') }}" class=""><i class="glyphicon glyphicon-list-alt"></i> <span>Siparişler</span></a></li>
                <li><a href="{{ path('admin_product_index')}}" class=""><i class="glyphicon glyphicon-list-alt"></i> <span>Ürünler</span></a></li>
                <li><a href="{{ path('admin_categories_index') }}" class=""><i class="glyphicon glyphicon-th"></i> <span>Kategoriler</span></a></li>
            </ul>
        </nav>
    </div>
</div>